*{
    background-color: rgb(0, 0, 0);
    color: azure;
    overflow: unset;
   
}
h1{
    text-align: center;
    font-family: 'Playfair Display', serif;
    width: 100%;
    height: 100%;
}
.projetos{
width: 300px;
font-family: 'Inconsolata', monospace;

}
.conhecimentos{
 width: 300px ;
 font-family: 'Inconsolata', monospace;
}
.contatos{
    width: 300px;
    font-family: 'Inconsolata', monospace;
}

h3{
    font-family: 'Playfair Display', serif;
}
.texto2{
    font-family: 'Taviraj', serif;
}
button{
    all: unset;
    cursor: pointer;
    outline: revert;
}